.customer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 1440px;
  overflow-x: hidden;
  overflow-y: auto;
}

.customer-banner {
  width: 100%;
  height: 500px;
  background-image: url("../../assets/img/customer/customer_banner.png");
  background-repeat: no-repeat;
  background-size: 1920px 500px;
  background-position: top center;
  position: relative;
  display: flex;
  justify-content: center;
}

.customer-container {
  display: flex;
  flex-direction: column;
  width: 1440px;
}

.customer-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.banner-title {
  width: 494px;
  height: 130px;
  text-align: left;
}

.banner-title p {
  font-family: "Apple SD Gothic Neo";
  font-style: normal;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -0.05em;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.banner-title .light-text {
  font-weight: 300;
}

.banner-title .bold-text {
  font-weight: 700;
}

.customer-content-section {
  width: 1440px;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: visible;
}
