.customer-wrapper-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.customer-banner-mobile {
  width: 100%;
  height: 230px;
  background-image: url("../../../assets/img/customer/customer_banner_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.customer-content-mobile {
  margin-top: auto;
  display: flex;
  text-align: left;
  padding: 0;
  flex-direction: column;
}

.customer-content-mobile .light-text {
  font-family: "Apple SD Gothic Neo";
  font-weight: 200;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 0;
}

.customer-content-mobile .bold-text {
  font-family: "Apple SD Gothic Neo";
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 0;
}
