.about__history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.about__history__graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  margin: 60px 0 60px 0;
}

.about__history__graph__item {
  display: grid;
  grid-template-columns: 1fr 42px 1fr;
  justify-items: center;
  width: 100%;
}

.about__history__graph__item:not(:last-child) ul,
.about__history__graph__item:not(:last-child) img {
  padding-bottom: 60px;
}

.about__history__graph__item:nth-child(even) {
  direction: rtl;
}

.about__history__graph__item__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: end;
}

.about__history__graph__item__content h2 {
  text-align: end;
  padding: 26px 0 26px 0;
}

.about__history__graph__item__content ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__history__graph__item__content li {
  display: inline-block;
  text-align: end;
  font-size: 20px;
  direction: ltr;
}

.about__history__graph__item:nth-child(even) li {
  text-align: start;
}

.about__history__graph__item__divider {
  width: 1px;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
}

.about__history__graph__item__divider div {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 100%;
  top: calc(42px + 0.75rem);
  position: absolute;
}

.about__history__graph__item img {
  width: calc(100% - 40px);
  object-fit: cover;
  margin: 20px 0 20px 0;
}
