.about__org {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
}

.about__org__img {
  width: 100%;
  max-width: 1230px;
  margin-top: 30px;
  margin-bottom: 60px;
  height: auto;
}

@media (max-width: 1280px) {
  .about__org__img {
    width: 90%;
  }
}
