.about-banner {
  background-image: url("../../img/about/about-banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1920 / 500;
  display: flex;
}

.about-banner__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1440px;
}

.about-banner__title {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 50px;
  color: #fff;
}

.about-banner__title span:first-child {
  font-weight: 300;
}

.about-banner__title span:last-child {
  font-weight: 500;
}

@media (max-width: 1023px) {
  .about-banner__title {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .about-banner {
    height: 200px;
    width: 100%;
  }

  .about-banner__inner {
    width: 90%;
    height: 100%;
  }

  .about-banner__title {
    font-size: 20px;
  }
}
