footer {
  display: flex;
  background: #000;
  justify-content: center;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

.footer__inner {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}

.footer__links ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}

.footer__links li {
  display: inline-block; /* 리스트 항목을 가로로 배치 */
}

.footer__links a {
  font-family: "Apple SD Gothic Neo", sans-serif; /* 폰트 설정 */
  font-size: 18px; /* 폰트 크기 */
  line-height: 21.6px; /* 줄 간격 */
  text-align: center; /* 텍스트 중앙 정렬 */
  color: white; /* 텍스트 색상 */
  text-decoration: none; /* 링크 밑줄 제거 */
  display: block; /* 앵커 태그를 블록 요소로 설정 */
}

.footer__links a.active {
  font-weight: 500; /* 폰트 가중치 */
}

.footer__links a:hover {
  font-weight: 500; /* 폰트 가중치 */
}

.footer__logo {
  height: 62px;
  object-fit: contain;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  flex: 1;
  gap: 10px;
}

.footer__contact {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer__info p {
  margin: 0;
  text-align: start;
}

@media (max-width: 1279px) {
  footer {
    max-width: 425px;
    min-width: 320px;
  }
  .footer__logo {
    width: 100px;
    height: 40px;
  }

  .footer__links ul {
    margin-top: 0;
    margin-bottom: 20px;
    gap: 20px;
  }

  .footer__contact {
    flex-direction: column;
    gap: 10px;
  }
}
