.banner-section {
  display: flex;
  flex-direction: column;
  /* max-width: 1920px; */
  width: 100%;
  aspect-ratio: 1 / 0.5;
  position: relative;
}
.banner-contents {
  width: 100%;
  height: 100%;
  border-radius: 0 0 55px 55px;
  position: relative;
  overflow: hidden;
}
.banner-contents .swiper {
  height: 100%;
}
.banner-img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  object-fit: cover;
}
.banner-texts {
  position: absolute;
  top: 35%;
  left: 14%;
  text-align: left;
}
.banner-texts img {
  margin-bottom: 34px;
  margin-left: 10px;
}
.banner-title {
  font-size: 50px;
  font-weight: 200;
  color: #fff;
  letter-spacing: -2px;
  margin-bottom: 20px;
}
.banner-description {
  color: #fff;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -2px;
  font-weight: 300;
}
.mainbanner-navigation {
  position: absolute;
  left: 14%;
  bottom: 100px;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #fff;
  font-weight: 300;
}
.mainbanner-navigation svg {
  width: 27px;
  height: auto;
  cursor: pointer;
}
.scroll-down-img {
  position: absolute;
  left: 90px;
  bottom: 100px;
  z-index: 2;
}
.banner-img-mo {
  display: none;
}
@media screen and (max-width: 1370px) {
  .banner-section {
    aspect-ratio: 1 / 0.7;
  }
}
@media screen and (max-width: 768px) {
  .banner-img {
    display: none;
  }
  .banner-img-mo {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    object-fit: cover;
  }
  .banner-section {
    aspect-ratio: 1 / 1.8;
  }
  .banner-texts {
    top: 25%;
    left: 30px;
  }
  .banner-texts img {
    margin-bottom: 12px;
    width: 70px;
    margin-left: 5px;
  }
  .banner-title {
    font-size: 34px;
    margin-bottom: 12px;
  }
  .banner-description {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -1px;
  }
  .scroll-down-img {
    display: none;
  }
  .side-buttons {
    gap: 0;
    top: 300px;
    right: 0;
  }
  .side-buttons img {
    width: 50px;
    height: 50px;
  }
  .mainbanner-navigation {
    left: 50%;
    transform: translateX(-50%);
    bottom: 37px;
  }
}
