/* 페이지 하단 콘텐츠 섹션 */
.oil-section {
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  max-width: 1920px; /* 배너의 최대 너비에 맞춤 */
  margin: 0 auto; /* 중앙 정렬 */
  background-color: #ffffff;
}
.oil-section {
  display: flex;
  justify-content: space-between; /* 이미지 간격 조절 */
  align-items: center; /* 이미지 세로 정렬 */
  gap: 20px; /* 두 이미지 사이의 간격 */
  max-width: 1370px; /* 섹션 너비 */
  margin: 0 auto; /* 가운데 정렬 */
  padding-top: 24px;
  padding-bottom: 180px;
}

.oil-item {
  position: relative;
  flex: 4.52; /* 왼쪽 이미지는 더 큰 비율 */
  border-radius: 20px; /* 모서리 둥글게 */
  overflow: hidden; /* 경계선 넘는 부분 숨김 */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  width: 1109px;
  /* height: 510px; */
  aspect-ratio: 1 / 0.46;
}

.oil-item:nth-child(2) {
  flex: 1;
  width: 245px;
  aspect-ratio: 1 / 0.5;
}

.image-wrapper {
  /* position: relative; */
  /* width: fit-content; */
}

.oil-image {
  /* width: 1109px; */
  /* height: 510px; */
  /* flex-shrink: 0; */
  width: 110%;
  height: 110%;
  object-fit: cover;
}

.oil-next-image {
  /* width: 245px; */
  /* height: 510px; */
  /* flex-shrink: 0; */
  width: 110%;
  height: 110%;
}

.overlay-image {
  position: absolute;
  top: 0; /* 부모 요소 기준 상단 */
  left: 0; /* 부모 요소 기준 왼쪽 */
  width: auto;
  height: auto;
  z-index: 2; /* 원본 이미지 위에 렌더링 */
  opacity: 0; /* 기본적으로 보이지 않도록 설정 */
  transform: scale(0.95); /* 약간 축소된 상태 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 부드러운 전환 효과 */
}
.overlay-image.fade-in {
  opacity: 1; /* 보이도록 설정 */
  transform: scale(1); /* 원래 크기로 확대 */
}
.overlay-image.fade-out {
  opacity: 0; /* 사라지도록 설정 */
  transform: scale(0.8); /* 축소된 상태 */
}
.image-wrapper:hover .overlay-image {
  opacity: 1; /* hover 시 보이도록 설정 */
  transform: scale(1.05); /* hover 시 확대 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* 부드러운 확대 효과 */
}

.overlay-image.description {
  top: 20px; /* 설명 이미지 위치 */
  left: 50px;
  left: 51px;
  right: 553px;
  bottom: 185px;
  top: 264px;
}

.overlay-image.title {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  left: 54px;
  right: 781px;
  top: 181px;
  bottom: 284px;
}

.oil-image,
.oil-next-image,
.overlay-text {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
}

.fade-out {
  opacity: 0;
  transform: translateX(-20px); /* 왼쪽으로 이동 */
}

.arrow-button {
  position: absolute;
  bottom: 196px; /* 위치 조정 */
  right: 40px; /* 위치 조정 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 버튼 스타일 */
  padding: 0; /* 추가 여백 제거 */
  z-index: 1;
}

.arrow-button .arrow-image {
  width: 25px;
  height: 118px;
  flex-shrink: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* 어두운 오버레이 */
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.overlay-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0); /* 어두운 오버레이 */
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.overlay.fade-to-white {
  background-color: rgb(255, 255, 255); /* 흰색으로 전환 */
  opacity: 1;
}

.overlay.fade-to-dark {
  background-color: rgb(0, 0, 0); /* 어두운 색상으로 전환 */
  opacity: 0.4;
}

.overlay-text {
  font-family: "Apple SD Gothic Neo";
  color: #ffffff;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5; /* 줄 간격 */
}
