.slider-section {
  padding: 180px 0;
}
.slider-section h3 {
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  width: 1370px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.slider-section .swiper-wrapper {
  padding: 20px;
}
.slider-section .swiper-slide {
  width: 325px !important;
  height: 135px !important;
  border-radius: 15px;
  cursor: grab;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.slider-section .swiper-slide img {
  width: 80%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1370px) {
  .slider-section {
    padding: 10% 0;
  }
  .slider-section h3 {
    font-size: 16px;
    text-align: center;
    width: calc(100% - 60px);
    padding: 0 30px;
    margin-bottom: 13px;
  }
  .slider-section .swiper-wrapper {
    padding: 10px;
    margin-left: 20px;
  }
  .slider-section .swiper-slide {
    width: 71px !important;
    height: 30px !important;
  }
}
