.business-navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 100px;
  border-bottom: 1px solid #e0e0e0; /* 얇은 회색 실선 */
  padding-top: 5px;
}

.business-navbar ul {
  z-index: 2;
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 1280px;
  justify-content: start;
  align-items: center;
}

.business-navbar li {
  display: inline-block;
  height: 100%;
}

.business-navbar .active {
  font-weight: 500;
  border-bottom: 3px solid #499953;
  box-sizing: content-box;
}

.business-navbar .active {
  font-weight: 500;
  border-bottom: 3px solid #499953;
  box-sizing: border-box;
}
.business-navbar li.active .business-nav-item {
  font-weight: 700; /* 원하는 굵기로 설정 */
}

.business-nav-item {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: #000;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .business-navbar {
    width: 100%;
    margin-bottom: 60px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: flex-end; /* 탭이 아래쪽에 붙도록 */
    padding-left: 14px;
    margin-top: -14px;
  }

  .business-navbar ul {
    width: 100%;
    height: 30px;
  }

  .business-nav-item {
    font-size: 10px;
    padding: 0 6px;
    display: flex;
    align-items: center;
  }
}
