.app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1279px) {
    .app {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}