.about__cert-mobile__detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.about__cert-mobile__detail h1 {
  text-align: center;
  font-size: 28px;
}

.about__cert-mobile__detail div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.about__cert-mobile__detail svg {
  position: absolute;
  width: 100px;
  right: 0;
  bottom: 0;
}

.about__cert-mobile__detail img {
  width: 80%;
  object-fit: cover;
}

.about__cert-mobile__docs {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 10px;
}

.about__cert-mobile__doc p {
  font-size: 10px;
  text-align: center;
  width: 100%;
  margin: 0;
}

.about__cert-mobile__doc img {
  width: 100%;
  object-fit: cover;
}
