@media (max-width: 1279px) {
    .business-content-section-mobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        gap: 40px;
    }

    .manufacturing-content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 60px;
    }

    .manufacturing-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .manufacturing-description-mobile {
        text-align: center;
    }

    .description-light-mobile {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #000000;
    }

    .description-bold-mobile {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #262626;
    }

    .feature-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .feature-image-container-mobile {
        width: 250px;
        height: 250px;
        position: relative;
        background-image: url("@assets/img/business/oil_feature.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .feature-image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .feature-title-mobile {
        position: absolute;
        width: 200px;
        height: 28px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -1px;
        color: #ffffff;
    }

    .feature-description-mobile {
        text-align: center;
        color: #262626;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .advantages-boxes-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .advantages-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .advantages-divider-mobile {
        width: 100vw;
        height: 3px;
        background-color: #fbfbfb;
        margin-left: calc(-50vw + 50%);
        margin-right: calc(-50vw + 50%);
        border: none;
    }

    .limit-content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .advantages-title-mobile {
        color: #000000;
        text-align: center;
    }

    .advantage-box-mobile {
        width: 100%;
        padding: 20px;
        background: #fbfbfb;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .advantages-boxes-mobile .advantage-box-mobile {
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .advantage-box-title-mobile {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.8px;
        color: #000000;
        text-align: left;
        margin: 0;
    }

    .advantage-box-description-mobile {
        align-items: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.6px;
        color: #262626;
        text-align: left;
        margin: 0;
    }

    .advantage-box-list-mobile {
        list-style: disc;
        padding-left: 20px;
        margin: 0;
    }

    .advantage-box-list-mobile li {
        margin-bottom: 12px;
    }

    .advantage-box-list-mobile li:last-child {
        margin-bottom: 0;
    }

    .backline-bottom-mobile {
        width: 100%;
        height: 8px;
        background-color: #fbfbfb;
        margin: 40px 0;
    }

    .role-content-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .role-description-mobile {
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }

    .role-text-mobile {
        font-weight: 700;
    }

    .role-text-bold-mobile {
        font-weight: 700;
        color: #499953;
    }

    .role-graph-mobile {
        width: 100%;
        object-fit: contain;
    }

    .limit-image-mobile {
        width: 100%;
        object-fit: contain;
    }

    .renewable-content-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }

    .renewable-title-mobile {
        width: 100%;
        font-family: "Apple SD Gothic Neo";
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 35px;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000000;
        align-self: center;
    }

    .biodiesel-section-mobile {
        width: 100%;
    }

    .biodiesel-image-container-mobile {
        width: 100%;
        height: 450px;
        position: relative;
        background-image: url("@assets/img/business/mobile/biodieselImg_mobile.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
        gap: 10px;
    }

    .biodiesel-image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .biodiesel-content-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30px;
    }

    .biodiesel-title-mobile {
        font-size: 20px;
        text-align: center;
        letter-spacing: -1px;
        color: #ffffff;
    }

    .biodiesel-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #ffffff;
        text-align: left;
    }

    .biodiesel-description-bold-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #ffffff;
    }

    .biodiesel-description-bold-mobile .bold-text {
        font-weight: 700;
    }

    .renewable-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .biodiesel-boxes-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
    }

    .biodiesel-box-mobile {
        width: 100%;
        height: 340px;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* 첫 번째 박스 */
    .biodiesel-box-mobile:nth-child(1) {
        border: 1px solid #499953;
    }

    /* 두 번째 박스 */
    .biodiesel-box-mobile:nth-child(2) {
        border: 1px solid #94b858;
    }

    /* 세 번째 박스 */
    .biodiesel-box-mobile:nth-child(3) {
        border: 1px solid #eab54d;
    }

    /* 각 박스의 제목 색상도 다르게 */
    .biodiesel-box-mobile:nth-child(1) .box-title-mobile {
        color: #499953;
    }

    .biodiesel-box-mobile:nth-child(2) .box-title-mobile {
        color: #94b858;
    }

    .biodiesel-box-mobile:nth-child(3) .box-title-mobile {
        color: #eab54d;
    }

    .box-description-mobile {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #000000;
    }

    .box-sub-description-mobile {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.8px;
        color: #717171;
    }

    .box-title-mobile {
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1.2px;
        color: #499953;
        margin-top: 0;
    }

    .box-image-mobile {
        width: 150px;
        height: 150px;
        object-fit: contain;
    }

    .renewable-business-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .renewable-process-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .renewable-business-title-mobile {
        height: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
    }

    .renewable-business-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        letter-spacing: -0.6px;
        color: #262626;
    }

    .renewable-business-description-mobile .bold-text {
        font-weight: 700;
    }

    .renewable-images-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .renewable-image-container-mobile {
        width: 100%;
        height: 180px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .renewable-detail-image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .renewable-image-content-mobile {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .renewable-image-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #ffffff;
    }

    .renewable-image-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: -0.6px;
        color: #ffffff;
        width: 251px;
        white-space: pre-line;
    }

    .renewable-text-overlay-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .renewable-text-content-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    .recycle-graph-box-mobile {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background: #fcfcfc;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recycle-graph-image-mobile {
        width: 100%;
        height: 160px;
        object-fit: contain;
    }

    .recycle-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .recycle-boxes-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }

    .recycle-box-mobile {
        width: 100%;
        height: 145px;
        background: #fcfcfc;
        border-radius: 10px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .recycle-box-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -1px;
        color: #000000;
        width: 160px;
        height: 60px;
        text-align: left;
    }

    .recycle-box-amount-mobile {
        font-family: "Pretendard Variable";
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: right;
        letter-spacing: -1px;
        color: #499953;
        margin-left: auto;
        margin-top: -12px;
    }

    .recycle-box-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: right;
        letter-spacing: -0.6px;
        color: #262626;
        width: 164.18px;
        margin-left: auto;
    }

    .process-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .process-box-mobile {
        width: 100%;
        height: 120px;
        background: #7d7d7d;
        border-radius: 10px;
        mix-blend-mode: multiply;
        position: relative;
        overflow: hidden;
        padding: 20px;
    }

    .process-background-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .process-number-circle-mobile {
        width: 36px;
        height: 36px;
        background: #499953;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .process-number-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
    }

    .process-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -1px;
        color: #ffffff;
        width: 300px;
        height: 27px;
        margin-top: 25px;
        text-align: left;
    }

    .process-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #ffffff;
        width: 250px;
        height: 18px;
        text-align: left;
    }

    .container-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .container-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
        width: 100%;
    }

    .storage-images-mobile {
        display: grid;
        grid-template-columns: repeat(2, 146.39px);
        grid-template-rows: repeat(2, 196.97px);
        gap: 10px;
        justify-content: center;
    }

    .storage-image-mobile {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .biodiesel-info-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .biodiesel-info-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #499953;
        width: 100%;
    }

    .biodiesel-info-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
        text-align: left;
        margin-bottom: 40px;
    }

    .biodiesel-background-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .background-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
        width: 100%;
        margin-bottom: 10px;
    }

    .background-description-mobile {
        width: 100%;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        background: #d9d9d9;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
        margin-bottom: 5px;
    }

    .rfs-title-mobile {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
        height: 18px;
    }

    .rfs-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
    }

    .rfs-graph-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .rfs-graph-title-mobile {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: -0.8px;
        color: #262626;
        text-align: center;
        width: 100%;
    }

    .rfs-graph-mobile {
        width: 100%;
    }

    .rfs-graph-description-mobile {
        font-weight: 300;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        text-align: left;
        margin-top: 5px;
    }

    .biodiesel-effects-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
    }

    .effects-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
        width: 100%;
    }

    .effects-box-mobile {
        width: 100%;
        background: #d9d9d9;
        border-radius: 10px;
        padding: 20px;
    }

    .effects-box-title-mobile {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.8px;
        color: #262626;
        margin-bottom: 8px;
        text-align: left;
    }

    .effects-box-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
        text-align: left;
    }

    .effects-box-description-mobile ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .effects-box-description-mobile li {
        position: relative;
        padding-left: 10px;
        margin-bottom: 8px;
        line-height: 15px;
    }

    .effects-box-description-mobile li::before {
        content: "-";
        position: absolute;
        left: 0;
    }

    .effects-box-description-mobile li:last-child {
        margin-bottom: 0;
    }

    .oil-types-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .oil-type-box {
        background: #fbfbfb;
        border-radius: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 30px;
        padding-right: 30px;
    }
    .oil-types-title-mobile {
        text-align: center;
    }

    .oil-type-boxes-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 40px;
    }

    .oil-type-box-mobile {
        display: flex;
        background: #fbfbfb;
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .oil-type-image-mobile {
        width: 100%;
        height: 112px;
        border-radius: 10px;
        object-fit: cover;
    }

    .oil-type-content-mobile {
        width: 100%;
        padding-bottom: 20px;
        padding: 10px 20px 10px 10px;
    }
    .oil-type-number-mobile {
        font-family: "Pretendard Variable";
        font-weight: 700;
        font-size: 30px;
        line-height: 20px;
        letter-spacing: -3.5px;
        color: #e6e6e6;
        margin-top: -15px;
    }

    .oil-type-header-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .oil-type-title-mobile {
        font-weight: 700;
        color: #000000;
    }

    .oil-type-subtitle-mobile {
        flex: 1;
        font-weight: 300;
        font-size: 14px;
        color: #727171;
        align-self: flex-end;
        padding-bottom: 3px;
    }

    .oil-type-description-mobile {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
        text-align: left;
    }

    .manufacturers-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .manufacturers-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
        width: 100%;
    }

    .sponsors-grid-mobile {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
    }

    .sponsor-image-mobile {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .logistics-section-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logistics-title-mobile {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        color: #000000;
        width: 100%;
    }

    .logistics-description-mobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .logistics-description-mobile p {
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: -0.6px;
        color: #262626;
        width: 100%;
        text-align: left;
    }

    .logistics-map-mobile img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .logistics-description-mobile p strong {
        font-weight: 700;
    }
}
