.navbar-mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-container-mobile {
    width: 100px;
    height: 35.23px;
}

.logo-container-mobile img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.menu-icon-mobile {
    width: 18px;
    height: 15px;
}

.menu-icon-mobile img {
    width: 100%;
    height: 100%;
}
